head
    title=site.title+' - '+title
    style
      include ../css/style.css
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="twitter:card" content="summary")
    meta(name="og:title" content=title)
    meta(name="og:description" content=content)
    meta(name="og:image" content=image)
    link(rel='icon', href=site.favicon, type='image/png')